@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: 'Inter', sans-serif;
    background-color: #F1F5F9;
    color: #0F172A;
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

@media print {
  aside  { display: none !important; }
  header { display: none !important; }
  .ml-60 { margin-left: 0 !important; }
  body   { background-color: white !important; }
  .bg-slate-50 { background-color: white !important; }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #CBD5E1;
    border-radius: 2px;
  }
}
